
.photos {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 1000px;
}

.container {
    margin: 0;
}

.items {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-left: 10px;
}

.item {
    padding-top: 10px;
    width: 350px;
}

.img {
    width: 100%;
    height: 100%;
}

.top {
    padding-top: 60px;
}

.hover:hover {
    cursor: pointer;
}

.button {
    padding: 12px;
    font-size: 14px;
    text-transform: uppercase;
    background: linear-gradient(rgb(255, 255, 255), rgb(235, 235, 235));
    border: 1px solid #b9b9b9;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    width: 270px;
    margin-left: 50px;

}

.button:hover {
    background: linear-gradient(rgb(242, 242, 242), rgb(223, 223, 223));
}

@media (min-width: 1350px) {
    .item, .items {
        width: 320px;
    }
}

@media (min-width: 1200px) and (max-width: 1350px) {

    .item, .items {
        width: 250px;
    }
    .photos{
        width: 770px;
    }
    .button{
        margin-left: 10px
    }
}
@media (min-width: 1000px) and (max-width: 1200px) {

    .item, .items {
        width: 220px;
    }
    .photos{
        width: 680px;
    }
    .button{
        margin-left: 10px;
        width: 230px;
    }
}
@media (min-width: 800px) and (max-width: 1000px) {
    .item, .items {
        width: 190px;
    }
    .photos{
        width: 610px;
    }
    .button{
        margin-left: 10px;
        width: 200px;
    }
}

@media screen and (max-width: 800px) {

    .container {
        display: grid;
        width: 100%;
        margin: 30px auto;
        padding-bottom: 30px;

    }

    .photos {
        width: calc(100% - 200px);
        flex-direction: column;
        margin: 0 auto;
    }

    .top {
        padding-top: 0;
    }

    .item, .items {
        width: 210px;
        margin: 0 auto;
    }


}

@media screen and (max-width: 800px) and (min-width: 500px) {
    .item, .items {
        width: 300px;
    }
}

@media screen and (max-width: 800px) and (min-width: 600px) {
    .item, .items {
        width: 400px;
    }
}

@media screen and (max-width: 800px) and (min-width: 700px) {
    .item, .items {
        width: 500px;
    }
}

@media screen and (max-width: 400px) {
    .item, .items {
        width: 150px;
    }
}