.container {
  display: flex;
  flex-direction: column;
}

.input {
  border: 1px solid #b9b9b9;
  padding: 15px;
  font-size: 21px;
}

.label {
  font-weight: 300;
  font-size: 28px;
  line-height: 40px;
  margin: 25px 0;
}

@media screen and (min-width: 1000px) and (max-width: 1500px){
 .input{
   padding: 10px;
   font-size: 16px;
   width: 227px;
 }
  .label{
    font-size: 20px;
  }
}
