.input_btn {
  display: none;
}
.btn_small {
  max-width: 270px;
  width: 100%;
  margin: 25px 0;
}

.btn {
  padding: 15px;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  background: linear-gradient(rgb(255, 255, 255), rgb(235, 235, 235));
  border: 1px solid #b9b9b9;
  border-radius: 1px;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(rgb(242, 242, 242), rgb(223, 223, 223));
}
@media screen and (min-width: 1000px) and (max-width: 1500px){
.btn{
  padding: 10px;
  font-size: 14px;
  width: 250px;
}
}
