.container {
  width: 75%;
  margin-left: 25%;
  background: #f5f5f5;
  height: 100%;
  overflow: auto;
}
.main_title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 30px 0;
  font-weight: 300;
  font-size: 36px;
  text-align: center;
  line-height: 70px;
}
.content {
  display: flex;
  padding: 0 50px;
}
.cover_wrap {
  flex-basis: 50%;
  margin-right: 25px;
}
.title {
  margin: 0;
  font-weight: 300;
  font-size: 28px;
  line-height: 40px;
  margin: 25px 0;
}

.form {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.content_photos {
  margin: 50px;
  padding: 0 25px;
  border: 1px dashed #b9b9b9;
  background-color: #fff;
}
@media screen and (min-width: 1000px) and (max-width: 1500px){
  .main_title{
    font-size: 30px;
    padding-bottom: 0px;
  }
}