.container {
  display: flex;
  align-items: center;
  margin: 25px;
}
.image {
  max-width: 500px;
  width: 100%;
  height: auto;
  margin-right: 25px;
}
.title {
  font-size: 20px;
  line-height: 24px;
}
