.about{
    width: 75%;
    background: #F5F5F5;
    overflow: auto;
    flex: none;
    margin-left: 25%;
    height: 100vh;
}
.header {
    display: flex;
    padding-top: 30px;
    padding-left: 30px;
    margin-right: 30px;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
}

.container {
    width: 100%;
    margin: 40px auto;
}
.content{
    align-items: center;
    display: flex;
    font-size: 22px;
    margin: 0 auto;
}
.title {
    font-size: 30px;
}

.mainText{
    width: 300px;
}

.mainText, .bottomText{
    font-size: 20px;
}
.bottomText{
    width: 790px;
    text-align: justify;
}
p{
    padding: 0;
    margin: 0;
}

.imageBlock{
    width: 470px;
    height: 310px;
    float:left;
    margin: 2px 20px 20px 20px;
}

.img{
    width: 100%;
    height: 100%;
}

.about{
    font-size: 26px;
}
@media screen and (min-width: 801px) and (max-width: 925px){

    .title {
        font-size: 22px;
    }

    .mainText{
        width: 250px;
    }
    .mainText, .bottomText{
        font-size: 14px;
    }
    .imageBlock{
        width: 290px;
        height: 180px;

        margin: 2px 10px 10px 10px;
    }
    .content, .bottomText{
        padding-left: 50px;
    }
    .bottomText{
        width: 550px;
    }
}
@media screen and (min-width: 925px) and (max-width: 1100px){


    .mainText{
        width: 290px;
    }
    .mainText, .bottomText{
        font-size: 16px;
    }
    .imageBlock{
        width: 320px;
        height: 220px;

        margin: 2px 10px 10px 10px;
    }
    .content, .bottomText{
        padding-left: 30px;
    }
    .bottomText{
        width: 620px;
    }
}
@media screen and (min-width: 1100px) and (max-width: 1249px){
    .content, .bottomText{
        padding-left: 50px;
    }
}
@media screen and (min-width: 1250px) and (max-width: 1369px){
    .content, .bottomText{
        padding-left: 100px;
    }
}
@media screen and (min-width: 1370px) and (max-width: 1494px){
    .content, .bottomText{
        padding-left: 110px;
    }
}
@media screen and (min-width: 1495px) and (max-width: 1599px){

    .content, .bottomText{
        padding-left: 160px;
    }

}
@media screen and (min-width: 1600px) {

    .title {
        font-size: 34px;
    }

    .mainText{
        width: 360px;
    }
    .content, .bottomText{
        padding-left: 60px;
    }
    .mainText, .bottomText{
        font-size: 26px;
    }
    .bottomText{
        width: 1000px;
    }
    p{
        padding: 0;
        margin: 0;
    }
    .container {
        width: 1080px;
    }

    .imageBlock{
        width: 620px;
        height: 410px;
        float:left;
        margin: 2px 20px 20px 20px;
    }

}

@media screen and (max-width: 800px){
    p{
        padding: 0;
        margin: 0;
    }
    .title{
        font-size: 20px;
    }
    .about {
        width: 100%;
        background: #f5f5f5;
        flex: none;
        margin:0px auto;
        padding-top: 40px;
    }
    .content{
        flex-direction: column-reverse;
    }
    .imageBlock{
        width: 350px;
        height: 250px;
    }

    .mainText,  .bottomText{
        margin: 0 30px;
        font-size: 12px;
        padding: 0 30px;
        width: 90%;
        max-width: 350px;
    }
    .bottomText{
        margin: 0 auto;
        padding: 0;
    }
    .container{
        margin-top: 0;
    }
    .header{
        padding-top: 20px;
    }
}
