.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 5%;
  display: flex;
  flex-wrap: wrap;
}
.imageBlock {
  width: 300px;
  height: 300px;
  margin-bottom: 40px;
  margin-right: 40px;
}

.coverImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageBlock:hover {
  opacity: 0.7;
  cursor: pointer;
}

.link {
  position: relative;
  z-index: 1;
}
.blocks{
  width: 300px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
}
.crossBlock {
  width: 50px;
  height: 50px;
  z-index: 2;
  opacity: 0.5;
  background: red;
  margin-right: auto;
}

.crossBlock:hover {
  opacity: 1;
  cursor: pointer;
}

.cross {
  width: 100%;
  height: 100%;
}

.button {
  padding: 12px;
  font-size: 14px;
  text-transform: uppercase;
  background: linear-gradient(rgb(255, 255, 255), rgb(235, 235, 235));
  border: 1px solid #b9b9b9;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  width: 270px;
  margin-bottom: 30px;

}

.button:hover {
  background: linear-gradient(rgb(242, 242, 242), rgb(223, 223, 223));
}

.buttonBlock{
  margin: 0 auto;
  width: 100%;
  padding-left: 5%;
}

.markBlock{
  width: 50px;
  height: 50px;
  z-index: 2;
}

.mark {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  z-index: 2;
}

.mark input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  opacity: 0.5;
  background-color: #00ee57;
}

.mark:hover input ~ .checkmark {
  background-color: #00ee57;
  opacity: 0.7;
}

.mark input:checked ~ .checkmark {
  background-color: #00ee57;
  opacity: 1;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.mark input:checked ~ .checkmark:after {
  display: block;
}

.mark .checkmark:after {
  left: 17px;
  top: 5px;
  width: 12px;
  height: 25px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


@media screen and (min-width: 900px) and (max-width: 1099px) {
  .container,.buttonBlock {
    max-width: 700px;
  }
  .imageBlock, .blocks {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1191px) {
  .container,.buttonBlock {
    max-width: 770px;
  }
  .imageBlock, .blocks {
    width: 230px;
    height: 230px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1192px) and (max-width: 1320px) {
  .container,.buttonBlock {
    max-width: 850px;
  }
  .imageBlock, .blocks {
    width: 250px;
    height: 250px;
    margin-bottom: 30px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1320px) and (max-width: 1429px) {
  .container,.buttonBlock {
    max-width: 950px;
  }
  .imageBlock, .blocks {
    width: 280px;
    height: 280px;
    margin-bottom: 30px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1430px) {
  .container,.buttonBlock {
    max-width: 1050px;
  }
}

@media screen and (min-width: 1600px) {
  .container,.buttonBlock {
    max-width: 1120px;
  }
  .imageBlock, .blocks {
    width: 330px;
    height: 330px;
  }
}
@media screen and (max-width: 900px){
  .container{
    padding-left: 0;
    justify-content: center;
  }

  .imageBlock, .blocks {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
}