.header {
  display: flex;
  padding-top: 30px;
  padding-left: 30px;
  margin-right: 30px;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
  position: relative;
}

.preloader{
  margin: 250px auto;
  padding-left: 25%;
}

.portfolio {
  width: 75%;
  background: #f5f5f5;
  flex: none;
  margin-left: 25%;
  padding-bottom: 0;
}

.title {
  font-size: 30px;
}

.addAlbumButton{
 position: absolute;
  right: 50px;
  opacity: 0.8;

}

.addAlbumButton:hover{
  opacity: 1;
  cursor: pointer;
}

.addAlbum{
  position: relative;
}
.plus{
  position: absolute;
  left: 160px;
  bottom: -17px;
  font-size: 40px;
}

@media screen and (max-width: 800px){
  .portfolio {
    width: 100%;
    background: #f5f5f5;
    flex: none;
    margin:0px auto;
    padding-top: 30px;
  }
  .title{
    font-size: 20px;
  }
  .preloader{
    margin: 200px auto;
    padding-left: 0;
  }
}

