@keyframes ldio-dibp7cezgv {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.preloader {
  display: flex;
  justify-content: center;
}

.ldio-dibp7cezgv div {
  box-sizing: border-box !important;
}

.ldio-dibp7cezgv > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #ffbecb transparent #ffbecb transparent;
  animation: ldio-dibp7cezgv 1s linear infinite;
}

.ldio-dibp7cezgv > div:nth-child(2) {
  border-color: transparent;
}

.ldio-dibp7cezgv > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.ldio-dibp7cezgv > div:nth-child(2) div:before,
.ldio-dibp7cezgv > div:nth-child(2) div:after {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #ffbecb;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #ffbecb;
}

.ldio-dibp7cezgv > div:nth-child(2) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #ffbecb;
}

.loadingio-spinner-dual-ring-pslxskjr9is {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}

.ldio-dibp7cezgv {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-dibp7cezgv div {
  box-sizing: content-box;
}
