.title {
  font-weight: 300;
  font-size: 28px;
  line-height: 40px;
  margin: 25px 0;
}
.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  max-width: 500px;
  width: 100%;
  border: 1px dashed #b9b9b9;
  background: #fff;
}
.icon {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1000px) and (max-width: 1500px){
  .cover{
    width: 400px;
  }
  .title{
    font-size: 20px;
  }
}