
.album {
    width: 75%;
    background: #F5F5F5;
    overflow: auto;
    flex: none;
    margin-left: 25%;
    height: 100vh;
}

.header {
    display: flex;
    padding-top: 30px;
    padding-left: 30px;
    margin-right: 30px;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    justify-content: center;
}

.preloader {
    margin: 250px auto;
    padding-left: 25%;
}

.container {
    width: 1080px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.title {
    font-size: 30px;
}

.arrowLeft, .arrowRight {
    font-size: 24px;
    display: block;
    position: absolute;
}

.arrowLeft {
    left: 30px;
}

.arrowRight {
    right: 0;
}

.arrowLeft:hover, .arrowRight:hover {
    color: #757575;
    cursor: pointer;
}

.arrowLeft:before {
    padding-right: 15px;
    content: '\2190';
}

.arrowRight:after {
    padding-left: 15px;
    content: '\2192';
}


.doubleLeft, .doubleRight {
    display: none;
}

.doubleLeft:active, .doubleRight:active{
    background: #d7d7d7;
    opacity: 0.3;
}
@media (max-width: 1400px) {

    .title {
        font-size: 28px;
    }

    .arrowLeft, .arrowRight {
        font-size: 18px;
    }
}


@media (max-width: 1200px) and (min-width: 1000px) {
    .container{
        width: 680px;
    }
}
@media (max-width: 1000px) and (min-width: 800px) {
      .container{
          width: 610px;
      }
}
@media (max-width: 1200px) and (min-width: 800px) {


    .title {
        font-size: 18px;
    }

    .arrowLeft, .arrowRight {
        font-size: 14px;
    }
}
@media (max-width:  1350px) and (min-width: 1200px) {
    .container{
        width: 770px;
    }

    .title {
        font-size: 24px;
    }
}



@media screen and (max-width: 800px) {
    .preloader {
        margin: 100px auto;
        padding-left: 0;
    }

    .album {
        width: 100%;
        background: #f5f5f5;
        flex: none;
        margin: 0px auto;
        padding-top: 40px;
    }

    .arrowLeft, .arrowRight {
        display: none;
    }

    .title {
        font-size: 20px;
    }

    .container {
        width: 100%;
    }

    .doubleRight, .doubleLeft {
        margin: 0 auto;
        width: 80px;
        position: fixed;
        top: 30%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        width: 90%;
        height: 20%;
    }

    .doubleLeft {
        left: 0;
        transform: scale(-1, 1);
    }

    .doubleRight {
        right: 0;
    }
    .preloader{
        margin: 200px auto;
        padding-left: 0;
    }

}

