.link{
    color: black;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.link:hover{
    color: #757575;
    cursor: pointer;
}

.link.active{
    background-size: 100% 2px;
}

.sidebar{
    width: 25%;
    float: left;
    overflow:auto;
    height: 100%;
    position: fixed;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
}

.mobileMenu {
    display: none;
}

.header{
    font-size: 30px;
    padding-top: 20px;
}

.header:first-child{
    margin-top: 40px;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.portfolio, .about{
    padding-bottom: 35px;
}

.icons{
    width: 100px;
    height: 50px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instagram{
    width: 47px;
    height: 47px;
}

.whatsApp{
    width: 38px;
    height: 38px;
}

.whatsApp, .instagram{
    opacity: 0.8;
}

.whatsApp:hover, .instagram:hover{
    opacity: 1;
}

.exit{
    margin-top: 50px;
}

.exit:hover{
    cursor: pointer;
    color: #757575;
}
@media screen and (min-width: 800px) and (max-width: 1192px) {
    .header {
        font-size: 28px;
    }

    .list{
        margin-top: 90px;
    }

    .sidebar{
        font-size: 18px;
    }

    .icons{
        margin-top: 50px;
        width: 90px;
    }

    .instagram{
        width: 42px;
        height: 42px;
    }

    .whatsApp{
        width: 33px;
        height: 33px;
    }
}

@media screen and (min-width: 1192px) and (max-width: 1320px) {
    .header {
        font-size: 38px;
    }

    .list{
        margin-top: 90px;
    }

    .sidebar{
        font-size: 22px;
    }

    .icons{
        margin-top: 50px;
        width: 90px;
    }

    .instagram{
        width: 42px;
        height: 42px;
    }

    .whatsApp{
        width: 33px;
        height: 33px;
    }
}
@media screen and (min-width: 1320px) and (max-width: 1429px) {
    .header {
        font-size: 40px;
    }

    .list{
        margin-top: 120px;
    }

    .sidebar{
        font-size: 22px;
    }
}
@media screen and (min-width: 1430px) {
    .header {
        font-size: 44px;
    }
}
@media screen and (min-width: 1700px) {
    .header {
        padding-top: 20px;
    }
}

@media screen and (min-width: 1800px) {
    .header {
        font-size: 54px;
        padding-top: 30px;
    }

    .sidebar{
        font-size: 34px;
        padding-top: 30px;
    }
    .icons{
        width: 120px;
    }

    .instagram{
        width: 54px;
        height: 54px;
    }

    .whatsApp{
        width: 41px;
        height: 41px;
    }
}

/*mobile sidebar*/
.toggleMenu{
    display: none;
}

@media screen and (max-width: 800px){
    .sidebar{
        display: none;
    }
    .mobileMenu{
        display: block;
        overflow: hidden;
        position: fixed;
        width: 100%;
        z-index: 3;
    }
    .mobileMenu *{
        margin: 0;
        padding: 0;
    }
    .mobileMenu ul{
        list-style: none;
    }
    .mobileMenu > ul{
        display: flex;
        justify-content: center;
    }
    .mobileMenu > ul li{
        position: relative;
        border-right: 1px solid #c7c8ca;
    }
    .mobileMenu > ul li:first-child{
        border-left: 1px solid #b2b3b5;
    }
    .mobileMenu > ul li:last-child{
        border-right: 1px solid #babbbd;
    }

    .mobileMenu > ul li a{
        display: block;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9c9c9+0,f6f6f6+2,c4c5c7+98,757577+100;Custom+3 */
        background: rgb(201,201,201); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(201,201,201,1) 0%, rgba(246,246,246,1) 2%, rgba(196,197,199,1) 98%, rgba(117,117,119,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#757577',GradientType=0 ); /* IE6-9 */

        padding: 15px 30px 15px 40px;
        font-size: 14px;
        color: #454547;
        text-decoration: none;
        text-transform:uppercase;
        transition: all 0.3s ease;
    }
    .mobileMenu li a:hover{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0e1e5+0,454547+2,454547+98,e0e1e5+100 */
        background: rgb(224,225,229); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(224,225,229,1) 0%, rgba(69,69,71,1) 2%, rgba(69,69,71,1) 98%, rgba(224,225,229,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e1e5', endColorstr='#e0e1e5',GradientType=0 ); /* IE6-9 */

        color: #ffffff;
        transition: all 0.3s ease;
    }


    /*==== MEDIA ====*/
    .mobileMenu [type="checkbox"]{
        display: none;
    }
    .mobileMenu label.toggleMenu{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9c9c9+0,f6f6f6+2,c4c5c7+98,757577+100;Custom+3 */
        background: rgb(201,201,201); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(201,201,201,1) 0%, rgba(246,246,246,1) 2%, rgba(196,197,199,1) 98%, rgba(117,117,119,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#757577',GradientType=0 ); /* IE6-9 */

        display: none;
        padding: 15px 40px;
        text-transform: uppercase;
        font-size: 14px;
        cursor: pointer;
        position: relative;
    }

    .mobileMenu label.toggleMenu .fa{
        position: absolute;
        top: 15px;
        left: 12px;
        font-size: 18px;
    }
    .mobileMenu ul{
        display: block;
        max-height: 0;
        transition: max-height 0.3s;
    }

    .mobileMenu label.toggleMenu{
        display: block;
    }
    input.toggleMenu:checked + label.toggleMenu{
        background: #d79da4;
        color: #fff;
    }
    input.toggleMenu:checked ~ ul{
        display: block;
        position: relative;
        max-height: 5000px;
        transition: max-height 2s ease-in;
    }

}