.container {
    width: 75%;
    background: #F5F5F5;
    overflow: auto;
    flex: none;
    margin-left: 25%;
    height: 100vh;
}

.form {
    width: 450px;
    height: 300px;
    background-color: #fcebae;
    margin: 150px auto 0 auto;
    text-align: center;
    border:3px solid #8d8261;
}

.inputEmail{
    margin-top: 40px;
}

.inputEmail, .inputPassword {
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 10px;
}

.inputSubmit {
    padding: 13px 30px;
    margin: 5px 0 20px 0;
    font-size: 15px;
    color: #fff;
    background-color: #c79e42;
    border: none;
    border-bottom: 4px solid #f9feff;
    cursor: pointer;
}

.inputSubmit:hover {
    transition: all 0.5s;
    background: #fff;
    color: #2c536c;
}

@media screen and (max-width: 800px){
    .container{
        display: none;
    }
}

