.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn {
    padding: 15px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    background: linear-gradient(rgb(255, 255, 255), rgb(235, 235, 235));
    border: 1px solid #b9b9b9;
    border-radius: 1px;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(rgb(242, 242, 242), rgb(223, 223, 223));
}

.btn:disabled {
    cursor: default;
}

.success__block {
    margin-top: 20px;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.success__text {
    font-size: 20px;
}

.error_block {
    margin-top: 20px;
}

.error__text {
    font-size: 20px;
    color: red;
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
    .success__text, .error__text {
        font-size: 14px;
    }

    .btn {
        padding: 10px;
        font-size: 12px;
        width: 250px;
    }


}