body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  width: 100%;
  height: max-content;
  display: flex;
  font-family: 'Comfortaa';
}

.container {
  width: 1080px;
  margin: 0 auto;
  flex-wrap: wrap;
}
@media screen and (max-width: 800px){
  html {
    overflow-y: scroll;
  }

  .wrapper {
    flex-direction: column;
  }

  .container {
    width: 100%;
  }
}