.conditions {
  width: 75%;
  background: #f5f5f5;
  overflow: auto;
  flex: none;
  margin-left: 25%;
}

.content {
  margin: 30px 50px;
}

.header {
  display: flex;
  padding-top: 30px;
  padding-left: 30px;
  margin-right: 30px;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
}

.headerText {
  font-size: 30px;
}

.blockCondition {
  display: flex;
  margin-bottom: 50px;
}

.imgBlock {
  width: 330px;
  margin-right: 50px;
}

.img {
  width: 100%;
  height: auto;
}

.info,
.duration,
.addition {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  margin-top: 50px;
}

.info > div {
  margin-top: 15px;
}

.name {
  font-size: 22px;
}

.duration {
  font-size: 16px;
}

.addition,
.title {
  font-size: 14px;
  opacity: 0.8;
}
@media screen and (min-width: 800px) and (max-width: 1150px){
  .imgBlock {
    width: 250px;
    margin-right: 50px;
  }
  .info,
  .duration,
  .addition {
    width: 300px;
  }
  .info{
    margin-top: 0;
  }
  .name {
    font-size: 14px;
  }

  .duration {
    font-size: 10px;
  }

  .addition,
  .title {
    font-size: 10px;
  }

  .headerText{
    font-size: 24px;
  }
}
@media screen and (min-width: 1150px) and (max-width: 1400px){
  .imgBlock {
    width: 270px;
    margin-right: 100px;
  }
  .info,
  .duration,
  .addition {
    width: 400px;
  }
  .name {
    font-size: 18px;
  }

  .duration {
    font-size: 12px;
  }

  .addition,
  .title {
    font-size: 12px;
  }

  .headerText{
    font-size: 24px;
  }

}
@media screen and (min-width: 1600px) {
  .content {
    margin: 30px 10%;
  }
  .imgBlock {
    width: 450px;
    margin-right: 100px;
  }
  .name {
    font-size: 26px;
  }

  .duration {
    font-size: 20px;
  }

  .addition,
  .title {
    font-size: 18px;
  }

}

@media screen and (max-width: 800px) {
  .headerText {
    font-size: 20px;
  }

  .conditions {
    width: 100%;
    background: #f5f5f5;
    flex: none;
    margin: 0px auto;
    padding-top: 40px;
    overflow-x: hidden;
  }
  .blockCondition{
    flex-direction: column;
    align-items: center;
  }
  .imgBlock {
    width: 230px;
    margin-right: 0px;
  }
  .info{
    margin-top: 0;
  }
  .header{
    margin-bottom: -10px;
    padding-top: 20px;
  }
  .name {
    font-size: 14px;
  }

  .duration, .addition {
    font-size: 10px;
  }
  .title {
    font-size: 12px;
    text-align: justify;
  }

}