
.contacts {
    width: 100%;
    background: #f5f5f5;
    min-height: 100vh;
    flex: none;
    padding-top: 80px;
    padding-left: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.label{
    margin-right: 70px;
    width: 50px;
}

.instagram{
    width: 54px;
    height: 54px;
}

.whatsApp{
    width: 41px;
    height: 41px;
    margin-left: 7px;
}
.link{
    width: 350px;
    flex-direction: row;
    display: flex;
    align-items: center;
}
.iconLink{
    width: 40px;
}